<% provide(:title, @user.name) %>
<body>
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="well well-sm">
                  <div class="row">
                      <div class="col-sm-6 col-md-4">
                          <img src="https://case.edu/medicine/admissions/media/school-of-medicine/admissions/classprofile.png" alt="" class="img-rounded img-responsive" />
                      </div>
                      <div class="col-sm-6 col-md-8">
                          <h4>
                              Username:
                               <%= @user.name %> </h4>

                                 </div>
                               </p>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <h1>Enrolled Courses</h1>
  <p>
  <div class="table-responsive">
    <table class="table table-striped">
                   <thead>
                     <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Id</th>
                    <th>Credits</th>
                    <th>Code</th>
                   </tr>
                   </thead>
                <tbody>
                  <% @courses.each do |course| %>
                  <tr>
                    <td><%= course['id']%> </td>
                    <td><%= course['name']%></td>
                    <td><%= course['description']%></td>
                    <td><%= course['unique_id']%></td>
                    <td><%= course['credits']%></td>
                    <td><%= course['code']%></td>
                  </tr>
                    <% end %>
                </tbody>
              </table>

</body>
